html {
		font-size: 125%;
		font-family: 'Open Sans', sans-serif;
		height: 100%;;
		background: url('img/linin.png') repeat;
		/*min-width: 1150px; /*Resize stops at 1115 because we don't wan the navigation list to become two rows and this is before it becomes two rows*/
		}

* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-weight:inherit;
	font-style:inherit;
	font-family:inherit;
	color:inherit;
	text-align:inherit;
	}

body{
	line-height:1;
	font-size:50%;
	height: 94.2%;
	font-family: verdana, san-serif;
	/*text-align:center;*/
}

footer{
	text-align: center;
	z-index: -20;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: white;
	text-decoration: none;
}

a:hover{
	background-image: url("img/hover.png");
	color: #25aae1;
}


ul li{
	display: inline;
	margin-left: 50px;
}

p{
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

h6{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: grey;
}

nav ul ul {
	/*This hides the submenu initially*/
	display: none;
	background-color:rgba(87,95,106,0.6); border-radius: 0px; padding: 0;
	position: absolute; top: 100%; /*This is where the hover menu box position can be changed*/
}
	nav ul ul li {
		float: none; 
		/*border-top: 0.5px solid #6b727c;
		border-bottom: 0.5px solid #575f6a;*/
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 15px;
			color: #25aae1;
		}	
			nav ul ul li a:hover {
				background: #25aae1;
			}

nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

nav ul li:hover > ul {
	/*This makes the block menu appear*/
	display: block;
}

nav ul {
	/*background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  */
	list-style: none;
	position: relative;
	display: inline-table;
}


nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
	padding-top: 20px;
}
nav ul li:hover {
	/*background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);*/
}
	nav ul li:hover a {
		color: #fff;
	}

nav ul li a {
	display: block; 
	padding-top: 10px;
	text-align: left;
	text-decoration: none;
}

nav{
	margin-top: -120px;
	text-align: left;
}

a.down{
	background-image: url("img/hover.png");
	color: #25aae1;
}
/*----------------------------------------------------------------------------------
All The Class elements
----------------------------------------------------------------------------------*/
.gu2{
	width: 100%;
	margin-left: 1%;
	/*border: solid 1px purple;/**/
}

.gu3{
	width: 97%;
	padding-top: 10px;
	padding-left: 15px;
	border: solid 1px purple;
}
.gu4{
	width:100%;
	margin-top: 10px;
	/*border: solid 1px orange;*/

}


.gu6{
	width: 100%;
	min-width: 480px;
	/*border: solid 1px green;*/
}

.page{
	width: 100%;
	position: relative;
	padding-left: 0px;
	/*border:1px solid red;/*Grid visualization guide. Remove when publish*/
}

.pg-header{
	/*border:1px solid red;/*Grid visualization guide. Remove when publish*/
}

.col{
	position:relative;
	float:left;
}

.row{
	position:relative;
}

.row:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden; 
}

.fluid_container {
	margin: 0 auto;
	max-width: 1000px;
	width: 90%;
}

.gu6 #Slider{
	padding-top: 0px;
}

.information2{
	float:left;
	width: 100%;
	/*border: pink 1px solid;*/
}

.information{
	float:left;
	padding-top: 20px;
	padding-right: 30px;
	width: 100%;
	/*border: blue 1px solid;*/
}

.information p{
	line-height: 18px;
}

.skills{
	float: left;
	width: 100%;
}

.skills ul{
	padding-top: 20px;
	margin-left: -20px;
	text-align: left;
}

.skills ul li{
	line-height: 30px;
	display: block;
}
.skills ul li a{
	color: #25aae1;
}

.skills ul li h5{
	display: inline;
	padding-left: 5px;
}

.width32{
	display: none;
	float: left;
	width: 50%;
}

.width33{
	float: left;
	width: 80%;
}

.width100{
	float:left;
	width: 100%;
	line-height: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.width100 h2, h3, h4, h5{
	padding-left: 30px;

}

.placeholder{
	width: 100%;
}
/*----------------------------------------------------------------------------------
All The ID elements
----------------------------------------------------------------------------------*/
#logo{
	margin-top: 20px;
	margin-left: 47px;
}

#icon{
	height: 45px;
	padding-right: 10px;
}

#icon2{
	height: 45px;
	padding-right: 10px;
}

#computer{
	width: 100%;
}

#language{
	width: 100%;
	padding-top: 20px;
}

#hello{
	padding-top: 20px;
}

#Iamme{
	color: #25aae1;
	padding-left: 50px;
	font-size: 50px;
	border-bottom: 5px solid white;
}

#me{
	width: 50%;
	margin-left: 50%;
	box-shadow: 5px 5px 5px #888888;
}

#LogoArea{
	background-color:rgba(0,0,0,0.5); 
	padding-bottom: 5px;
}

#nav{
	padding-top: 100px;
	padding-bottom: 1px;
	/*border: 1px blue solid;*/
}

#snav{
	padding-top: 110px;
	margin-right: 25%;
}


#worktype{
	/*border: 1px orange solid;*/
}

#featuredwork{
	text-align: right;
	padding-top: 1%;
	padding-right: 34%;
	font-weight: 400;
	color: #25aae1;
}

#placeholder{
	width: 100%;
}

#brief{
	margin-top: 0px;
	padding-top: 0px;
	margin-right: 20px;
	margin-left: 20px;
	color: #25aae1;
}

#intro{
	margin-right: 40px;
	line-height: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
	font-weight: 100;
}

#back_to_camera {
	clear: both;
	display: block;
	height: 80px;
	line-height: 40px;
	padding: 20px;
}

#Header{
	position: relative;
	width: 100%;
	border-bottom: 9px solid #c7c7c7; 
	background-color:rgba(0,0,0,0.5); 
}

#wrap { 
	width: 80%; 
	margin: 0 auto; 
}

#wrap2 { 
	width: 80%; 
	margin: 0 auto;
	z-index: -50;
}

#camera_wrap_1{
	width: 100%;
}

#selected{
	background-image: url("img/hover.png");
	color: #25aae1;
}

#navbk{
	z-index: 10;

}

#snavbk{
	background-color:rgba(0,0,0,0.5);
	z-index: 1;
}

#contactinfo{
	display: none;
	background-color:rgba(0,0,0,0.8);
	color: white;
	line-height: 20px;
	height: 120px;
	text-align: left;
	padding-left: 0px;
	padding-top: 15px;
	z-index: -2;
}

#contactinfo ul li {
	padding-bottom: 10px;
}

#contactinfo ul li a {
	padding-top: 6px;
}

#phone{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: white;
	text-decoration: none;
}
/*----------------------------------------------------------------------------------
other
----------------------------------------------------------------------------------*/
span.reference{
	position:fixed;
	left:10px;
	bottom:10px;
	font-size:12px;
}
span.reference a{
	color:#aaa;
	text-transform:uppercase;
	text-decoration:none;
	text-shadow:1px 1px 1px #000;
	margin-right:30px;
}
span.reference a:hover{
	color:#ddd;
}
ul.sdt_menu{
	margin-top:150px;
}
h1.title{
	text-indent:-9000px;
	background:transparent url(title.png) no-repeat top left;
	width:633px;
	height:69px;
}

@media screen and (max-width: 240px){
       #wrap { 
        width: 240px!important; 
       }

       #Header{
		position: relative;
		width: 240px;
		border-bottom: 9px solid #c7c7c7; 
		background-color:rgba(0,0,0,0.5); 
		}
}

@media screen and (max-width: 320px){
       #wrap { 
        width: 320px!important; 
       }
       #Header{
		position: relative;
		width: 320px;
		border-bottom: 9px solid #c7c7c7; 
		background-color:rgba(0,0,0,0.5); 
		}
}

@media screen and (max-width: 480px){
       #wrap { 
        width: 480px!important; 
       }
       #Header{
		position: relative;
		width: 480px;
		border-bottom: 9px solid #c7c7c7; 
		background-color:rgba(0,0,0,0.5); 
		}
}

@-o-viewport {
  width: device-width;
}